.appContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #619f971c;
  position: relative;
  overflow: hidden;
}

.container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.item {
  font-size: 30px;
  font-weight: 600;
}

.tooltip {
  display: none;
}

.popper {
  background-color: royalblue;
  color: white;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.navLink,
.navLink:visited {
  color: royalblue;
}
